html {
	height: 100%;
}

img {
	width: 30px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	margin-bottom: 20px;
}

body {
	margin: 0;
}

img[src="img/logo.svg"] {
	width: 50px;
}

.profile-pic {
	min-width: 60px;
	max-height: 60px;
	border-radius: 50%;
	flex-grow: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"dash header"
		"dash main";
}

.dashboard {
	background-color: deepskyblue;
	grid-area: dash;
	padding: 20px;
	padding-right: 30px;
}

.dashboard li {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-items: center;
	gap:20px;
}

.dashboard ul li:first-child {
	margin-bottom: 40px;	
}

li img {
	justify-self: center;
}

li h3,
li h4,
.main > h4 {
	margin: 0;
}


.header {
	background-color: floralwhite;
	grid-area: header;
	padding: 20px;

}

.header-first-line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	gap: 20px;
}

.search {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: auto;
}

.search input {
	border-radius: 50px;
	background-color: lightgrey;
	border: none;
	max-width: 500px;
	padding: 10px;
	flex-grow: 1;
}

.other-side-search {
	/*flex-grow: 1;*/
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	gap: 20px;
}

.header-second-line {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.header-second-line h4 {
	margin: 0;
	padding: 0;
}

.greeting {
	margin-right: auto;
	flex-basis: 40%;
	flex-grow: 1;
}

.btns {
	display: flex;
	justify-content: space-evenly;
	flex-grow: 1;
	gap: 10px;
}

button {
	border-radius: 40px;
	border: none;
	background-color: deepskyblue;
	color: white;
	padding: 7px 30px;
}


.main {
	padding: 20px;
	padding-right: 30px;
	background-color: gainsboro;
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
	/*grid-template-columns: 3fr 1fr;*/
	gap: 20px;
}

.left-side-main {
	flex-basis: 40%;
	flex-grow: 1;
}

.project-cards-container {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
}

.project-cards {
	background-color: white;
	border-radius: 5px;
	border-left: 6px solid orange;
	padding: 10px;
	max-height: 200px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.card-actions {
	text-align: right;
}

.right-side-main {
	width: 250px;
}

.announce-container {
	background-color: white;
	padding: 20px;
	padding-top: 10px;
	border-radius: 5px;
}

.announce-content {
	/*background-color: red;*/
	display: grid;
}

.announce-content div:nth-child(2) {
	border-bottom: 2px solid grey;
	border-top: 2px solid grey; 
}

.announce-content div h5 {
	margin-bottom: 0;
}

.announce-content div p {
	margin-top: 5px;
}

.trending-card-container {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	display: grid;
	gap: 10px;
}

.trending-card {
	display: flex;
	align-items: center;
	gap: 10px;
}

.trending-description {
	min-width: 100px;
}

.trending-card h5 {
	margin: 0;
}

.trending-card p {
	margin: 0;
}






